<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<th:block th:include="fragments/head"></th:block>
<link rel="stylesheet" th:href="@{/record-insert.css}">
<body>
	<th:block th:include="fragments/navbar"></th:block>
   <th:block th:include="fragments/scripts"></th:block>
   
    <div id="main-container">
       <h4 style="text-align:center; font-family: 'Faustina';padding-top: 2rem; padding-bottom: 2rem;">Añadir metodo de pago</h4> 
       
       <form th:action="@{'/card/'+${aux}+'/new'}" th:object="${newCard}">
        <label for="inputname3" class="col-sm-2 col-form-label">Detalle tarjeta</label>
        <div class="row mb-3">
          <label for="inputname3" class="col-sm-2 col-form-label">Nombre de dueño: </label>
          <div class="col-sm-10">
           <input type="hidden" th:if="${aux==update}"  th:field="*{id}" class="form-control"  id="inputname3">
          
            <input type="text" th:field="*{owner}" class="form-control" id="inputname3">
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputnum1" class="col-sm-2 col-form-label">Numero de tarjeta: </label>
          <div class="col-sm-10">
            <input type="tel" th:field="*{number}"  class="form-control" id="inputnum1" minlength="15" maxlength="19">
          </div>
        </div>

        <div class="row mb-3">
            <label for="inputnum3" class="col-sm-2 col-form-label">Fecha: </label>
            <div class="col-sm-10">
              <input type="date" th:field="*{expiration}" class="form-control" id="inputnum3">
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputnum3" class="col-sm-2 col-form-label">CVV: </label>
            <div class="col-sm-10">
              <input type="text" th:field="*{cvv}" class="form-control" id="inputnum3" minlength="2" maxlength="4">
            </div>
        </div>
          


        <div style="display: flex; justify-content: end;" class="btn-group" role="group" aria-label="Basic example">
            <div>
                <a th:href="@{/card}"  type="button" class="btn btn-outline-secondary">Cancelar</a>        
            </div>
            
            <div>
                <button type="submit" th:text="${textButton}" class="btn btn-outline-danger">Añadir</button>
            </div>
        </div>
       
      </form>

    </div>

</body>
</html>